{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<h2> Are you sure you want to delete {{category.name}}? </h2>

<form action="#" method = 'post'>

	<button type="submit" class="btn btn-danger" id="submit" type="submit">
	<span class="fa fa-trash-o" aria-hidden="true"></span>Delete</button>
	<a href = '{{url_for('showCategories')}}'>
		<button class="btn btn-secondary">
		<span class="fa fa-remove" aria-hidden="true"></span> Cancel</button>
	</a>

</form>

{% endblock %}
