{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="category-main">


<div class="row divider green">
    <div class="col-md-12"></div>
</div>
<div class="row banner menu">
    <div class="col-md-12">
        <h1>{{ category.name }}
        <figure class="creator">
            <img src="{{ creator.picture}}">
            <figcaption>{{ creator.name }}</figcaption>
        </figure>
        </h1>

    </div>
</div>
<div class="row padding-top padding-bottom">

    <div class="col-md-12 padding-none">

    </div>

</div>
<div class="row">
    <div class="col-md-12 text-center">
        {% with messages = get_flashed_messages() %}
{% if messages %}
  <div class="alert alert-success" role="alert">
  <ul>
  {% for message in messages %}
      <li> <strong> {{ message }} </strong> </li>
  {% endfor %}
  </ul>
</div>
  {% endif %}
{% endwith %}
    </div>
</div>
{% if parts !=[] %}
    <div class="row">

        <div class="col-md-12 text-center">
            <h2>Category: {{category.name}}</h2>
                {% for p in parts %}
                        <div class="parts">
                            <h3>{{p.name}}</h3>
                            <p>{{p.description}}</p>
                        </div>
                {% endfor %}
                {% endif %}
        </div>
        </div>
        </div>
{% endblock %}
